<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated yawlannotations -->
      <package
            uri="http://se.compute.dtu.dk/mbse/yawl/simulator/annotations"
            class="dk.dtu.compute.mbse.tutorial.yawl.simulator.yawlannotations.YawlannotationsPackage"
            genModel="model/yawlannotations.genmodel"/>
   </extension>
   
   <extension
         id="simapp"
         name="YAWL Simulator"
         point="org.pnml.tools.epnk.applications.applicationfactory">
      <applicationfactory
            class="dk.dtu.compute.mbse.tutorial.yawl.simulator.application.YAWLSimulatorFactory"
            description="A simple YAWL simulator">
      </applicationfactory>
   </extension>

</plugin>
