<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            name="ePNK"
            id="org.pnml.tools.epnk.views.category">
      </category>
      <view
            allowMultiple="false"
            category="org.pnml.tools.epnk.views.category"
            class="org.pnml.tools.epnk.applications.view.ApplicationsView"
            icon="icons/obj16/PetriNetApplications.gif"
            id="org.pnml.tools.epnk.applications.view"
            name="ePNK: Applications">
      </view>
   </extension>

</plugin>
