<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated yawl -->
      <package
            uri="http://se.compute.dtu.dk/mbse/yawl"
            class="dk.dtu.compute.mbse.yawl.YawlPackage"
            genModel="model/yawl.genmodel"/>
   </extension>
   
   <extension
         id="pntd"
         name="YAWL Net"
         point="org.pnml.tools.epnk.pntd_package">
      <type
            description="A simple definition of YAWL nets with START- and END-conditions, AND-, OR- and XOR-joins and splits for actions and reset arcs."
            package_uri="http://se.compute.dtu.dk/mbse/yawl">
      </type>
   </extension>
   
   <extension
         point="org.eclipse.emf.validation.constraintProviders">
      <constraintProvider
            cache="true">
         <package
               namespaceUri="http://se.compute.dtu.dk/mbse/yawl">
         </package>
         <constraints categories="org.pnml.tools.epnk.validation">
            <constraint
                  id="dk.dtu.compute.mbse.yawl.validation.correct-arc-connection"
                  lang="OCL"
                  mode="Live"
                  name="Arc connection constraint for YAWL nets"
                  severity="ERROR"
                  statusCode="401">
               <message>
                  The arc {0} with this arc type is not allowed between these elements.
               </message>
               <description>
                  Arcs must be between a place and a transition, a transition and a place, or
                  between two transitions. Only arcs between a place and a transition may have
                  a type! 
               </description>
               <target
                     class="Arc:http://se.compute.dtu.dk/mbse/yawl">
                  <event
                        name="Set">
                     <feature
                           name="source">
                     </feature>
                     <feature
                           name="target">
                     </feature>
                     <feature
                           name="type">
                     </feature>
                  </event>
               </target>            
               <![CDATA[
                 ( self.source.oclIsKindOf(pnmlcoremodel::PlaceNode) and
                   self.target.oclIsKindOf(pnmlcoremodel::TransitionNode) )
                 or
                 ( self.source.oclIsKindOf(pnmlcoremodel::TransitionNode) and
                   self.target.oclIsKindOf(pnmlcoremodel::PlaceNode) and
                   self.type->size() = 0 )
               ]]>
            </constraint>
            <constraint
                  lang="Java"
                  class="dk.dtu.compute.mbse.yawl.constraints.StartEndConditions"
                  severity="ERROR"
                  mode="Batch"
                  name="One start and end place"
                  id="dk.dtu.compute.mbse.yawl.validation.one-start-and-end-place"
                  statusCode="402">
               <target class="YAWLNet:http://se.compute.dtu.dk/mbse/yawl"/>
               <description>
                  A YAWL net must have one start and end place.
               </description>
               <message>
                  The YAWL net {0} does not have exactly one start place and one end place.
               </message>
            </constraint>
            <constraint
                  lang="Java"
                  class="dk.dtu.compute.mbse.yawl.constraints.StartEmptyPreset"
                  severity="ERROR"
                  mode="Batch"
                  name="Start place has empty preset"
                  id="dk.dtu.compute.mbse.yawl.validation.start-condition-has-empty-preset"
                  statusCode="403">
               <target class="Condition:http://se.compute.dtu.dk/mbse/yawl"/>
               <description>
                  A start condition must have an empty preset.
               </description>
               <message>
                  The start condition {0} does not have an empty preset.
               </message>
            </constraint>
            <constraint
                  lang="Java"
                  class="dk.dtu.compute.mbse.yawl.constraints.EndEmptyPostset"
                  severity="ERROR"
                  mode="Batch"
                  name="End place has empty post"
                  id="dk.dtu.compute.mbse.yawl.validation.end-condition-has-empty-postset"
                  statusCode="404">
               <target class="Condition:http://se.compute.dtu.dk/mbse/yawl"/>
               <description>
                  A end condition must have an empty post.
               </description>
               <message>
                  The end condition {0} does not have an empty postset.
               </message>
            </constraint>
            <constraint
                  lang="Java"
                  class="dk.dtu.compute.mbse.yawl.constraints.NoDuplicateArcs"
                  severity="ERROR"
                  mode="Batch"
                  name="No duplicate arcs"
                  id="dk.dtu.compute.mbse.yawl.validation.no-duplicate-arcs"
                  statusCode="403">
               <target class="Arc:http://se.compute.dtu.dk/mbse/yawl"/>
               <message>
                  The arc {0} is a duplicate arc.
               </message>
               <description>
                  Arcs of the same type are not allowed between the same nodes.
               </description>
            </constraint>
         </constraints>
      </constraintProvider>
   </extension>

</plugin>
