<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.team.core.fileTypes" id="repo-ftype">
      <?gmfgen generated="true"?>
      <fileTypes type="text" extension="networkmodel_diagram"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.extension_parser" id="resource-factory">
      <?gmfgen generated="true"?>
      <parser
         type="networkmodel_diagram"
         class="org.eclipse.gmf.runtime.emf.core.resources.GMFResourceFactory">
      </parser>
   </extension>

   <extension point="org.eclipse.ui.editors" id="gmf-editor">
      <?gmfgen generated="true"?>
      <editor
         id="networkmodel.diagram.part.NetworkDiagramEditorID"
         name="%editorName"
         icon="icons/obj16/NetworkmodelDiagramFile.gif"
         extensions="networkmodel_diagram"
         default="true"
         class="networkmodel.diagram.part.NetworkDiagramEditor"
         matchingStrategy="networkmodel.diagram.part.NetworkMatchingStrategy"
         contributorClass="networkmodel.diagram.part.NetworkDiagramActionBarContributor">
      </editor>
   </extension>
   
   <extension point="org.eclipse.ui.contexts" id="ui-context">
      <?gmfgen generated="true"?>
      <context
         description="%context.description"
         id="networkmodel.diagram.ui.diagramContext"
         name="%context.name"
         parentId="org.eclipse.gmf.runtime.diagram.ui.diagramContext">
      </context>
   </extension>

   <extension point="org.eclipse.ui.newWizards" id="creation-wizard">
      <?gmfgen generated="true"?>
  	  <wizard
  	     name="%newWizardName"
  	     icon="icons/obj16/NetworkmodelDiagramFile.gif"
  	     category="org.eclipse.ui.Examples"
  	     class="networkmodel.diagram.part.NetworkCreationWizard"
  	     id="networkmodel.diagram.part.NetworkCreationWizardID">
  	  	 <description>%newWizardDesc</description>  
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.popupMenus" id="init-diagram-action">
      <?gmfgen generated="true"?>
      <objectContribution
            id="NetworkEditor.diagram.InitDiagram"
            nameFilter="*.networkmodel"
            objectClass="org.eclipse.core.resources.IFile">
         <action
               label="%initDiagramActionLabel"
               class="networkmodel.diagram.part.NetworkInitDiagramFileAction"
               menubarPath="additions"
               enablesFor="1"
               id="NetworkEditor.diagram.InitDiagramAction">
         </action>
      </objectContribution>
   </extension>
	
   <extension point="org.eclipse.gmf.runtime.common.ui.services.action.globalActionHandlerProviders" id="global-actions">
      <?gmfgen generated="true"?>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.DiagramGlobalActionHandlerProvider"
         id="NetworkPresentation">
         <Priority name="Lowest"/>
         <ViewId id="networkmodel.diagram.part.NetworkDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="delete"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.DiagramEditPart">
               <GlobalActionId actionId="save"/>
            </ElementType>
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="save">
               </GlobalActionId>
            </ElementType>        
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
         class="org.eclipse.gmf.runtime.diagram.ui.providers.ide.providers.DiagramIDEGlobalActionHandlerProvider"
         id="NetworkPresentationIDE">
         <Priority name="Lowest"/>
         <ViewId id="networkmodel.diagram.part.NetworkDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="bookmark"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
      <GlobalActionHandlerProvider
            class="org.eclipse.gmf.runtime.diagram.ui.render.providers.DiagramUIRenderGlobalActionHandlerProvider"
            id="NetworkRender">
         <Priority name="Lowest"/>
         <ViewId id="networkmodel.diagram.part.NetworkDiagramEditorID">
            <ElementType class="org.eclipse.gmf.runtime.diagram.ui.editparts.IGraphicalEditPart">
               <GlobalActionId actionId="cut"/>
               <GlobalActionId actionId="copy"/>
               <GlobalActionId actionId="paste"/>
            </ElementType>
         </ViewId>
      </GlobalActionHandlerProvider>
   </extension>


   <extension point="org.eclipse.core.runtime.preferences" id="prefs">
      <?gmfgen generated="true"?>
      <initializer class="networkmodel.diagram.preferences.DiagramPreferenceInitializer"/>
   </extension>

   <extension point="org.eclipse.ui.preferencePages" id="prefpages">
      <?gmfgen generated="true"?>
      <page
            id="NetworkEditor.diagram.general"
            name="%prefpage.NetworkEditor.diagram.general"
            class="networkmodel.diagram.preferences.DiagramGeneralPreferencePage">
      </page>
      <page
            id="NetworkEditor.diagram.appearance"
            name="%prefpage.NetworkEditor.diagram.appearance"
            category="NetworkEditor.diagram.general"
            class="networkmodel.diagram.preferences.DiagramAppearancePreferencePage">
      </page>
      <page
            id="NetworkEditor.diagram.connections"
            name="%prefpage.NetworkEditor.diagram.connections"
            category="NetworkEditor.diagram.general"
            class="networkmodel.diagram.preferences.DiagramConnectionsPreferencePage">
      </page>
      <page
            id="NetworkEditor.diagram.printing"
            name="%prefpage.NetworkEditor.diagram.printing"
            category="NetworkEditor.diagram.general"
            class="networkmodel.diagram.preferences.DiagramPrintingPreferencePage">
      </page>
      <page
            id="NetworkEditor.diagram.rulersAndGrid"
            name="%prefpage.NetworkEditor.diagram.rulersAndGrid"
            category="NetworkEditor.diagram.general"
            class="networkmodel.diagram.preferences.DiagramRulersAndGridPreferencePage">
      </page>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyContributor" id="prop-contrib">
      <?gmfgen generated="true"?>
      <propertyContributor
            contributorId="NetworkEditor.diagram"
            labelProvider="networkmodel.diagram.sheet.NetworkSheetLabelProvider">
         <propertyCategory category="domain"/>
         <propertyCategory category="visual"/>
         <propertyCategory category="extra"/>
      </propertyContributor>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertyTabs" id="proptabs">
      <?gmfgen generated="true"?>   
      <propertyTabs contributorId="NetworkEditor.diagram">
         <propertyTab
             category="visual"
             id="property.tab.AppearancePropertySection"
             label="%tab.appearance"/>
          <propertyTab
             category="visual"
             id="property.tab.DiagramPropertySection"
             label="%tab.diagram"/>
          <propertyTab
             category="domain"
             id="property.tab.domain"
             label="%tab.domain"/>
      </propertyTabs>
   </extension>

   <extension point="org.eclipse.ui.views.properties.tabbed.propertySections" id="propsections">
      <?gmfgen generated="true"?>   
      <propertySections contributorId="NetworkEditor.diagram">
         <propertySection id="property.section.ConnectorAppearancePropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ConnectionEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ConnectionAppearancePropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>
         <propertySection id="property.section.ShapeColorAndFontPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.ShapeEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.ShapeColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection> 
         <propertySection id="property.section.DiagramColorsAndFontsPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.appearance.DiagramColorsAndFontsPropertySection" 
            tab="property.tab.AppearancePropertySection">
         </propertySection>     
         <propertySection id="property.section.RulerGridPropertySection" 
            filter="org.eclipse.gmf.runtime.diagram.ui.properties.filters.DiagramEditPartPropertySectionFilter" 
            class="org.eclipse.gmf.runtime.diagram.ui.properties.sections.grid.RulerGridPropertySection" 
            tab="property.tab.DiagramPropertySection">
         </propertySection>     
         <propertySection
            id="property.section.domain" 
            tab="property.tab.domain"
            class="networkmodel.diagram.sheet.NetworkPropertySection">
            <input type="org.eclipse.gmf.runtime.notation.View"/>
            <input type="org.eclipse.gef.EditPart"/>
            <input type="networkmodel.diagram.navigator.NetworkAbstractNavigatorItem"/>
         </propertySection>
      </propertySections>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.core.viewProviders" id="view-provider">
      <?gmfgen generated="true"?>
      <viewProvider class="networkmodel.diagram.providers.NetworkViewProvider">
         <Priority name="Lowest"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Diagram" semanticHints="Network"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Node" semanticHints="2001,2002"/>
         <context viewClass="org.eclipse.gmf.runtime.notation.Edge" semanticHints="4001,4002"/>
      </viewProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.diagram.ui.editpartProviders" id="ep-provider">
      <?gmfgen generated="true"?>
      <editpartProvider class="networkmodel.diagram.providers.NetworkEditPartProvider">
         <Priority name="Lowest"/>
         <object class="org.eclipse.gmf.runtime.notation.Diagram" id="generated-diagram">
            <method name="getType()" value="Network"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-nodes">
            <method name="getType()" value="2001,2002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Edge" id="generated-links">
            <method name="getType()" value="4001,4002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-labels">
            <method name="getType()" value="5001,5002"/>
         </object>
         <object class="org.eclipse.gmf.runtime.notation.Node" id="generated-compartments">
            <method name="getType()" value=""/>
         </object>
         <context views="generated-diagram,generated-nodes,generated-links,generated-labels,generated-compartments"/>
      </editpartProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.ui.modelingAssistantProviders" id="modelassist-provider">
      <?gmfgen generated="true"?>
      <modelingAssistantProvider class="networkmodel.diagram.providers.NetworkModelingAssistantProvider">
         <Priority name="Lowest"/>
         <object class="networkmodel.diagram.edit.parts.NetworkEditPart" id="Network_1000"/>
         <object class="networkmodel.diagram.edit.parts.CategoryEditPart" id="Category_2001"/>
         <object class="networkmodel.diagram.edit.parts.NodeEditPart" id="Node_2002"/>
         <context elements="Network_1000,Category_2001,Node_2002"/>
      </modelingAssistantProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.iconProviders" id="icon-provider">
      <?gmfgen generated="true"?>
      <IconProvider class="networkmodel.diagram.providers.NetworkIconProvider">
         <Priority name="Low"/>
      </IconProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.common.ui.services.parserProviders" id="parser-provider">
      <?gmfgen generated="true"?>
      <ParserProvider class="networkmodel.diagram.providers.NetworkParserProvider">
         <Priority name="Lowest"/>
      </ParserProvider>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypes" id="element-types">
      <?gmfgen generated="true"?>
      <metamodel nsURI="http://org.pnml.tools/network">
         <metamodelType
               id="NetworkEditor.diagram.Network_1000"
               name="%metatype.name.Network_1000"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Network"
               edithelper="networkmodel.diagram.edit.helpers.NetworkEditHelper">
            <param name="semanticHint" value="1000"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://org.pnml.tools/network">
         <metamodelType
               id="NetworkEditor.diagram.Category_2001"
               name="%metatype.name.Category_2001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Category"
               edithelper="networkmodel.diagram.edit.helpers.CategoryEditHelper">
            <param name="semanticHint" value="2001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://org.pnml.tools/network">
         <metamodelType
               id="NetworkEditor.diagram.Node_2002"
               name="%metatype.name.Node_2002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="Node"
               edithelper="networkmodel.diagram.edit.helpers.NodeEditHelper">
            <param name="semanticHint" value="2002"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://org.pnml.tools/network">
         <metamodelType
               id="NetworkEditor.diagram.DirectedEdge_4001"
               name="%metatype.name.DirectedEdge_4001"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="DirectedEdge"
               edithelper="networkmodel.diagram.edit.helpers.DirectedEdgeEditHelper">
            <param name="semanticHint" value="4001"/>
         </metamodelType>
      </metamodel>
      <metamodel nsURI="http://org.pnml.tools/network">
         <metamodelType
               id="NetworkEditor.diagram.UndirectedEdge_4002"
               name="%metatype.name.UndirectedEdge_4002"
               kind="org.eclipse.gmf.runtime.emf.type.core.IHintedType"
               eclass="UndirectedEdge"
               edithelper="networkmodel.diagram.edit.helpers.UndirectedEdgeEditHelper">
            <param name="semanticHint" value="4002"/>
         </metamodelType>
      </metamodel>
   </extension>

   <extension point="org.eclipse.gmf.runtime.emf.type.core.elementTypeBindings" id="element-types-bindings">
      <?gmfgen generated="true"?>
      <clientContext id="NetworkEditor.diagram.TypeContext">
         <enablement>
            <test
               property="org.eclipse.gmf.runtime.emf.core.editingDomain"
               value="NetworkEditor.diagram.EditingDomain"/>
         </enablement>
      </clientContext> 
      <binding context="NetworkEditor.diagram.TypeContext">
         <elementType ref="NetworkEditor.diagram.Network_1000"/>
         <elementType ref="NetworkEditor.diagram.Category_2001"/>
         <elementType ref="NetworkEditor.diagram.Node_2002"/>
         <elementType ref="NetworkEditor.diagram.DirectedEdge_4001"/>
         <elementType ref="NetworkEditor.diagram.UndirectedEdge_4002"/>
         <advice ref="org.eclipse.gmf.runtime.diagram.core.advice.notationDepdendents"/>
      </binding>
   </extension>
	   <extension point="org.eclipse.core.expressions.propertyTesters" id="navigator-proptest.isURIEditorInput">
      <?gmfgen generated="true"?>
       <propertyTester
           id="NetworkEditor.diagram.URIEditorInputPropertyTester"
           type="org.eclipse.emf.common.ui.URIEditorInput"
           namespace="NetworkEditor.diagram"
           properties="isURIEditorInput"
           class="networkmodel.diagram.part.NetworkUriEditorInputTester">
       </propertyTester>
   </extension>

	   <extension point="org.eclipse.ui.navigator.viewer" id="navigator-viewbinding">
      <?gmfgen generated="true"?>
      <viewerContentBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <contentExtension pattern="NetworkEditor.diagram.resourceContent"/>
			<contentExtension pattern="NetworkEditor.diagram.domainResourceContent"/>
            <contentExtension pattern="NetworkEditor.diagram.navigatorLinkHelper"/>
         </includes>
      </viewerContentBinding>
      <viewerActionBinding viewerId="org.eclipse.ui.navigator.ProjectExplorer">
         <includes>
            <actionExtension pattern="NetworkEditor.diagram.navigatorActionProvider"/>
         </includes>
      </viewerActionBinding>
   </extension>

   <extension point="org.eclipse.ui.navigator.navigatorContent" id="navigator-content">
      <?gmfgen generated="true"?>
      <navigatorContent
            id="NetworkEditor.diagram.resourceContent" 
            name="%navigatorContentName" 
            priority="normal" 
            contentProvider="networkmodel.diagram.navigator.NetworkNavigatorContentProvider" 
            labelProvider="networkmodel.diagram.navigator.NetworkNavigatorLabelProvider"
            icon="icons/obj16/NetworkmodelDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="networkmodel_diagram"/>
               </and>
               <instanceof value="networkmodel.diagram.navigator.NetworkAbstractNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <or>
         	   <instanceof value="networkmodel.diagram.navigator.NetworkAbstractNavigatorItem"/>
            </or>
         </possibleChildren>
         <commonSorter 
               id="NetworkEditor.diagram.navigatorSorter" 
               class="networkmodel.diagram.navigator.NetworkNavigatorSorter">
            <parentExpression>
               <or>
	              <and>
    	             <instanceof value="org.eclipse.core.resources.IFile"/>
        	         <test property="org.eclipse.core.resources.extension" value="networkmodel_diagram"/>
                  </and>
                  <instanceof value="networkmodel.diagram.navigator.NetworkAbstractNavigatorItem"/>
               </or>
            </parentExpression>
         </commonSorter>
      </navigatorContent>
      <navigatorContent
            id="NetworkEditor.diagram.domainResourceContent" 
            name="%domainNavigatorContentName" 
            priority="normal" 
            contentProvider="networkmodel.diagram.navigator.NetworkDomainNavigatorContentProvider" 
            labelProvider="networkmodel.diagram.navigator.NetworkDomainNavigatorLabelProvider"
            icon="icons/obj16/NetworkmodelDiagramFile.gif"
            activeByDefault="true">
         <triggerPoints>
            <or>
	           <and>
    	          <instanceof value="org.eclipse.core.resources.IFile"/>
        	      <test property="org.eclipse.core.resources.extension" value="networkmodel"/>
               </and>
               <instanceof value="networkmodel.diagram.navigator.NetworkDomainNavigatorItem"/>
            </or>
         </triggerPoints>
         <possibleChildren>
            <instanceof value="networkmodel.diagram.navigator.NetworkDomainNavigatorItem"/>
         </possibleChildren>
      </navigatorContent>
      <actionProvider
            id="NetworkEditor.diagram.navigatorActionProvider"
            class="networkmodel.diagram.navigator.NetworkNavigatorActionProvider">
         <enablement>
            <or>
               <instanceof value="networkmodel.diagram.navigator.NetworkAbstractNavigatorItem"/>
            </or>
         </enablement>
      </actionProvider>
   </extension>
   
	   <extension point="org.eclipse.ui.navigator.linkHelper" id="navigator-linkhelper">
      <?gmfgen generated="true"?>
      <linkHelper
            id="NetworkEditor.diagram.navigatorLinkHelper"
            class="networkmodel.diagram.navigator.NetworkNavigatorLinkHelper">
         <editorInputEnablement>
            <and>
               <instanceof value="org.eclipse.emf.common.ui.URIEditorInput"/>
               <test property="NetworkEditor.diagram.isURIEditorInput"/>
            </and>
         </editorInputEnablement>
         <selectionEnablement>
            <instanceof value="networkmodel.diagram.navigator.NetworkAbstractNavigatorItem"/>
         </selectionEnablement>
      </linkHelper>
   </extension>
   <extension point="org.eclipse.ui.commands" id="update-cmd">
      <?gmfgen generated="true"?>
      <command
         categoryId="org.eclipse.ui.category.edit"
         defaultHandler="networkmodel.diagram.part.NetworkDiagramUpdateCommand"
         description="%update.diagram.description"
         id="networkmodel.diagram.updateDiagram"
         name="%update.diagram.name"/>
   </extension>
   
   <extension point="org.eclipse.ui.bindings" id="update-cmd-binding">
      <?gmfgen generated="true"?>
      <key 
         commandId="networkmodel.diagram.updateDiagram"
         contextId="networkmodel.diagram.ui.diagramContext"
         schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
         sequence="F5"/>
   </extension>

   <extension point="org.eclipse.ui.menus" id="context-menus">
      <?gmfgen generated="true"?>
      <!-- menuContribution locationURI="menu:org.eclipse.ui.main.menu?after=">
      </menuContribution>
      <menuContribution locationURI="toolbar:org.eclipse.ui.main.toolbar?after=">
      </menuContribution -->
      <menuContribution locationURI="popup:org.eclipse.gmf.runtime.diagram.ui.DiagramEditorContextMenu">
         <command commandId="NetworkEditor.diagram.LoadResourceAction">
            <visibleWhen>
               <and>
                  <with variable="activePartId"><equals value="networkmodel.diagram.part.NetworkDiagramEditorID"/></with>
                  <with variable="selection"><iterate ifEmpty="false"> 
                     <instanceof value="networkmodel.diagram.edit.parts.NetworkEditPart"/>
                  </iterate></with>
               </and>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>

   <extension point="org.eclipse.ui.commands" id="menu-commands">
      <?gmfgen generated="true"?>
      <category id="networkmodel.diagram.part.NetworkDiagramEditorID" name="%cmdcategory.name" description="%cmdcategory.desc"/>
      <command id="NetworkEditor.diagram.LoadResourceAction"
         name="Load Resource"
         categoryId="networkmodel.diagram.part.NetworkDiagramEditorID"
         defaultHandler="networkmodel.diagram.part.LoadResourceAction"/>
   </extension>

   <extension point="org.eclipse.ui.handlers" id="menu-handlers">
      <?gmfgen generated="true"?>
   </extension>

   <!-- optionally, specify keybindings -->
</plugin>
